/* Reseta o estilo padrão para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0e68c; /* Altere essa cor para a cor de fundo desejada */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}

img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.yes-button {
    background-color: #25D366; /* Verde do WhatsApp */
}

.yes-button:hover {
    background-color: #1EBE54;
}

.no-button {
    background-color: #FF4B4B; /* Vermelho */
}

.no-button:hover {
    background-color: #FF0000;
}
